# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.pdb
*.cache
*.log

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/
*.snupkg

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# DotCover
*.dotCover

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Others
*.dbmdl
*.bak
*.sql
*.mdf
*.ldf

# Publish
publish/
/Framework.Tests.zip
/git
